# {{ ansible_managed }}

myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

append_dot_mydomain = no

readme_directory = no
compatibility_level = 2

smtpd_tls_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
smtpd_tls_key_file=/etc/ssl/private/ssl-cert-snakeoil.key
smtpd_tls_security_level=may

smtp_tls_CApath=/etc/ssl/certs
smtp_tls_security_level=may
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = pi-01.home
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = $myhostname, pi-01, localhost.localdomain, , localhost
mailbox_size_limit = 0
recipient_delimiter = +
{% if postfix_parameters|length > 0 %}

{% for key, value in postfix_parameters.items()|sort %}
{% if value is sameas true %}
{{ key }} = yes
{% elif value is sameas false %}
{{ key }} = no
{% elif value is string or value is number %}
{{ key }} = {{ value }}
{% else %}
{{ key }} = {{ value|join(', ') }}
{% endif %}
{% endfor %}
{% endif %}
